GRPC_TOKEN=xxxxxxxx
GRPC_SERVER_URL=grpcserver.com:443
GRPC_ACCOUNT_ID=123456789

FINAM_ARENA_SERVER_URL=xxx
FINAM_API_SERVER_URL=xxx
FINAM_ARENA_TOKEN=xxx
FINAM_API_TOKEN=xxx
FINAM_ARENA_ACCOUNT_ID=12345